#grid-container {
  display: grid;
  gap: 5px;
  /* Other styles add via JS subject to gameboard size, e.g. grid-template-columns */
}

#grid-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}